<!-- <div class="modal"> -->
<div class="modal-header" style="padding:12px;">
  <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">X</button>
  <h3 class="modal-title">Change Password</h3>
</div>
<div class="modal-body" style="width:75%; margin-left: 12%;">
  <div class="form-group">
    <div ng-cloak class="error"  style="color: #ff0000;">{{errormassage}}</div>
  </div>
<form class="form-horizontal" name="updatePasswordForm" autocomplete="off">
  <div class="form-group ">
    <label for="exampleInputEmail1" class="allLabel">Old Password</label>
    <i class="fa fa-lock"></i>
    <input type="password" class="form-control" id="oldPassword" name="oldPassword" ng-model="updatePassword.oldPassword" placeholder="Enter Old Password" ng-class="{errorborder: updatePasswordValidationErrors.oldPassword}">
    <span class="errorcolor" ng-show="updatePasswordValidationErrors.oldPassword">
    {{updatePasswordValidationErrors.oldPasswordErrorMsg}}
    </span>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1" class="allLabel">New Password</label>
    <i class="fa fa-lock"></i>
    <input type="password" class="form-control" id="newPassword" name="newPassword" ng-model="updatePassword.newPassword" placeholder="Enter New Password" ng-class="{errorborder: updatePasswordValidationErrors.newPassword}" ng-maxlength="20" maxlength="20" ng-change="newPasswprdChanged()">
    <!-- <span class="errorcolor" ng-class="{warningcolor: passwordStrength.short, successcolor: passwordStrength.strong}" ng-show="updatePasswordValidationErrors.newPassword || passwordStrength.newPasswordStrengthMessage">
      {{updatePasswordValidationErrors.newPasswordErrorMsg}}
    </span> -->
    <span class="errorcolor" ng-show="updatePasswordValidationErrors.newPassword">
      {{updatePasswordValidationErrors.newPasswordErrorMsg}}
    </span>
   <!--  <div class="help-inline" data-ng-show='updatePasswordForm.newPassword.$valid && updatePasswordForm.newPassword.$dirty' data-ng-class="strength">This password is {{strength}} !
    </div> -->
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1" class="allLabel">Confirm Password</label>
    <i class="fa fa-lock"></i>
    <input type="password" class="form-control" id="exampleInputPassword1" name="confirmPassword" ng-model="updatePassword.confirmPassword" placeholder="Enter Confirm Password" ng-class="{errorborder: updatePasswordValidationErrors.confirmPassword}" ng-maxlength="20" maxlength="20">
    <span  class="errorcolor" ng-show="updatePasswordValidationErrors.confirmPassword">
      {{updatePasswordValidationErrors.confirmPasswordErrorMsg}}
    </span>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success submitBtn" type="button" ng-click="updatePasswordClick();">Change Password</button>
  <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
</div>
