<div style="padding:5px 5px;">
    <div class="clearfix"></div>

    <div class="row bg-white">
      <div class="page-title" style="height: 50px;">
        <div class="x_title">
            <h4>Upcoming Training Schedules</h4>
        </div>
    </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <table id="example" class="table table-striped table-responsive responsive-utilities jambo_table">
                <thead>
                    <tr class="headings">
                      <th> Center Name </th>
                      <th> Course Name </th>
                      <th> Start Date </th>
                      <th> End Date </th>
                      <th> Trainer </th>
                      <th> Description </th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="even pointer" ng-repeat="trainingSchedule in filtered = trainingSchedules | filter:searchFilter | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                      <td>{{ trainingSchedule.trainingCenter }}</td>
                      <td>{{ trainingSchedule.trainingCourse }}</td>
                      <td>{{ trainingSchedule.startDate }}</td>
                      <td>{{ trainingSchedule.endDate }}</td>
                      <td>{{ trainingSchedule.trainerName }}</td>
                      <td>{{ trainingSchedule.description }}</td>
                    </tr>
                  </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row bg-white">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
             <div class="graph" id="trainUntrainStatusGraphContainer" style="width: 100%; height: 250px; margin: 0 auto"></div>
        </div>
    </div> <br>
    <div class="row bg-white">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="graph" id="employeeEvaluationStatusGraphContainer" style="width: 100%; height: 250px; margin: 0 auto"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $( "#footer" ).show();
</script>
