
      <!-- PAGE HEADER-->
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <!-- BREADCRUMBS -->
            <ul class="breadcrumb">
              <li>
                <span class="breadcrumTitle">
                  <a href="#dashboard">Dashboard</a>
                </span>
              </li>
              <li>
                <span class="breadcrumTitle">
                  <a href="#employes" tabindex="1">Dealer Employees</a>
                </span>
              </li>
              <li class="breadcrumTitle">
                {{AddEditEmployeeLabel}}
              </li>
            </ul>
            <!-- /BREADCRUMBS -->
            <div class="clearfix">
              <h3 class="content-title pull-left">
                {{AddEditEmployeeLabel}}
              </h3>
            </div>
          </div>
          <div class="page-div-separator-height"></div>
        </div>
      </div>
      <!-- /PAGE HEADER -->
      <!-- Add daeler Form -->
      <div class="row">
        <div class="col-md-12">
          <div class="box-body">
              <form name="dealerform">
                 <div class="row">
                  <div class="form-group col-md-11">
                    <label for="employeeName" class="allLabel">Employee Name</label>
                    <input type="text" class="form-control" id="employeeName" placeholder="Enter employee name" ng-model="employeeDetail.EmployeeName" ng-class="{errorborder: employeeValidationErrors.employeeName}" ng-maxlength="100" maxlength="100" tabindex="2" ng-keydown="onlyLettersAndNumbers($event)">
                    <span  class="errorcolor" ng-show="employeeValidationErrors.employeeName">{{employeeValidationErrors.dealercodeErrorMsg}}</span>
                    <span class="errorcolor" ng-show="employeeDetail.employeeName.length >= 100">
                      first name allows max 100 char.</span>
                  </div>
                </div>

                <div class="row">
                 <div class="form-group col-md-5">
                    <label for="employeeCode" class="allLabel">Employee Code</label>
                    <input type="text" class="form-control" id="employeeCode" placeholder="Enter last name" ng-model="employeeDetail.EmployeeCode" ng-class="{errorborder: employeeValidationErrors.EmployeeCode}" ng-maxlength="20" maxlength="10" tabindex="2" ng-keydown="onlyLettersAndNumbers($event)">
                    <span  class="errorcolor" ng-show="employeeValidationErrors.EmployeeCode">{{employeeValidationErrors.dealercodeErrorMsg}}</span>
                    <span class="errorcolor" ng-show="employeeDetail.EmployeeCode.length >= 20">
                      last name allows max 20 char.</span>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="form-group col-md-5">
                    <label for="dateofbirth" class="allLabel">Date of Birth</label>
                    <input type="text" class="form-control" id="dateofbirth" placeholder="Select birth date" ng-model="employeeDetail.DateofBirth" ng-class="{errorborder: employeeValidationErrors.dateofbirth}" ng-maxlength="40" maxlength="15" tabindex="4">
                    <span  class="errorcolor" ng-show="employeeValidationErrors.dateofbirth">{{employeeValidationErrors.courseValidFromErrorMsg}}</span>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-5">
                    <label for="designation" class="allLabel">Designation</label>
                    <select class="form-control" id="stateId" ng-model='employeeDetail.DesignationId' placeholder='select'>
                      <option value="" selected disabled>Select Designation</option>
                      <option value="1">Trainee</option>
                      <option value="2">Technician</option>
                      <option value="3">Manager</option>
                    </select>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="form-group col-md-5">
                  <label for="producthandled" class="allLabel">Product Handled</label><br>
                   <select class="form-control" id="productHandledId" ng-model='employeeDetail.ProductHandledId'>
                     <option value="" selected disabled>Select Product Handled</option>
                      <option value="1">2W</option>
                      <option value="2">3W</option>
                      <option value="3">4W</option>
                    </select>
                  </div>
                </div>

                 <div class="row">
                  <div class="form-group col-md-5">
                    <label for="qualification" class="allLabel">Qualification</label>
                    <select class="form-control" id="qualificationId" ng-model='employeeDetail.QulificationId'>
                      <option value="" selected disabled>Select Qulification</option>
                      <option value="1">Master</option>
                      <option value="2">TL</option>
                      <option value="3">BE</option>
                    </select>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="form-group col-md-5">
                    <label for="experince" class="allLabel">Experince</label><br>
                   <select class="form-control" id="experinceId" ng-model='employeeDetail.ExprienceId'>
                     <option value="" selected disabled>Select Experince</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">above</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                   <div class="form-group col-md-5">
                    <label for="dateofjoining" class="allLabel">Date of Joining</label>
                    <input type="text" class="form-control" id="dateofjoining" placeholder="Select joining date" ng-model="employeeDetail.DateofJoining" ng-class="{errorborder: employeeValidationErrors.dateofjoining}" ng-maxlength="40" maxlength="15" tabindex="4">
                    <span  class="errorcolor" ng-show="employeeValidationErrors.dateofjoining">{{employeeValidationErrors.courseValidFromErrorMsg}}</span>
                    <span class="errorcolor" ng-show="employeeDetail.dateofjoining.length >= 15">
                      Course name allows max 15 char.</span>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="form-group col-md-5">
                    <label for="mobileNo" class="allLabel">Mobile Number</label>
                    <input type="text" class="form-control" id="mobileNo" placeholder="Enter contact mobile number" ng-model="employeeDetail.MobileNo" ng-class="{errorborder: employeeValidationErrors.mobileNo}" ng-maxlength="10" maxlength="10" tabindex="2" ng-keydown="onlyNumbers($event)">
                    <span  class="errorcolor" ng-show="employeeValidationErrors.mobileNo">{{employeeValidationErrors.mobilenumberErrorMsg}}</span>
                    <span class="errorcolor" ng-show="employeeDetail.mobileNo.length >= 10">
                      Mobile number allows max 10 char.</span>
                  </div>
                </div>

                  <br>
                </div>
              </form>

              <!--button section-->
              <div class="row">
                <div class="form-group col-md-5">
                  <button class="btn btn-success submitBtn" ng-click="addUpdateDealer();" tabindex="6">
                    {{AddEditEmpbuttonTitle}}
                  </button> &nbsp;
                  <a href="#/employes" class="btn btn-danger cancelBtn" tabindex="7"> Cancel</a>
                </div>
              </div>
              <!--/Button section-->
            <!-- <form> -->
          </div>
        </div>
      </div>
      <!-- /Add dealer Form -->
