<div class="container">
  <div class="row">
    <!-- /CONTENT-->
    <div id="content" class="col-lg-12 content-background">
      <!-- PAGE HEADER-->
      <div class="row">
        <div class="col-sm-12">
          <div class="page-header">
            <!-- BREADCRUMBS -->
            <table width="100%">
              <tr>
                <td width="95%" align="left">
                  <ul class="breadcrumb" style="margin-top:15px;">
                    <li>
                      <span class="breadcrumTitle">
                        <a href="#ngdashboard">Dashboard</a>
                      </span>
                    </li>
                    <li>
                      <span class="breadcrumTitle">
                        <a href="#employes" tabindex="1">Employees</a>
                      </span>
                    </li>
                    <li class="breadcrumTitle">
                      Employee Details
                    </li>
                  </ul>
                </td>
              </tr>
            </table>
            <!-- /BREADCRUMBS -->
            <div class="clearfix">
            </div>
          </div>
          <div class="page-div-separator-height"></div>
        </div>
      </div>
      <!-- /PAGE HEADER -->
      <!-- Add User Form -->
      <div class="row">
        <div class="col-md-12">
          <div class="box-body-form" style="margin-left:50px;">
            <div class="row">
              <div class="col-md-4">
                <label for="dealercode">Fisrt Name</label><br>
                <lable>{{Employee.FirstName}}</label>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4">
                <label for="dealername">Middle Name</label><br>
                <lable>{{Employee.MiddleName}}</label>
              </div>
            </div><br>
            <div class="row">
              <div class="col-md-4">
                <label for="dealeraddress">Last Name</label><br>
                <lable>{{Employee.LastName}}</label>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4">
                <label for="pincode">Date of Birth</label><br>
                <lable>{{Employee.DateofBirth}}</label>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <label for="statename">Designation</label><br>
                <lable>{{Employee.Designation}}</label>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4">
                <label for="city">ProductHandled</label><br>
                <lable>{{Employee.ProductHandled}}</label>
              </div>
            </div><br>
            <div class="row">
              <div class="col-md-4">
                <label for="contactPerson">Qulification</label><br>
                <lable>{{Employee.Qulification}}</label>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4">
                <label for="coursetype">Working Cell</label><br>
                <lable>{{Employee.WorkingCell}}</label>
              </div>
            </div><br>
            <div class="row">
              <div class="col-md-4">
                <label for="mobileNo">Date of Joining</label><br>
                <lable>{{Employee.DateofJoining}}</label>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4">
                <label for="phoneNo">Exprience</label><br>
                <lable>{{Employee.Exprience}}</label>
              </div>
            </div><br>
            <div class="row">
              <div class="col-md-4">
                <label for="mobileNo">Mobile Number</label><br>
                <lable>{{Employee.MobileNo}}</label>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4">
                <label for="phoneNo">Remarks</label><br>
                <lable>{{Employee.Remarks}}</label>
              </div>
            </div><br>

            <!--button section-->
              <div class="row">
                <div class="form-group col-md-5" style="margin-top: 10%">
                  <a href="#addDealer/{{id}}" class="btn btn-success" ng-click="updateDealer();" style="width:20%;" ng-if="$root.previliges.Manage_UserMgt == true">
                    Edit&nbsp;
                  </a>
                   <button class="btn btn-success" ng-click="deleteDealer(detailDetail);" style="width:20%;" ng-if="$root.previliges.Manage_UserMgt == true">
                    Delete&nbsp;
                  </button>
                   <button class="btn btn-success" ng-click="deactivateDealer(dealerDetail);" ng-cloak ng-if = "dealerDetail.status === 'ACTIVE' && $root.previliges.Manage_UserMgt == true">
                    Deactivate&nbsp;
                  </button>
                  <button class="btn btn-success" ng-click="activateDealer(dealerDetail);" ng-cloak ng-if = "dealerDetail.status === 'INACTIVE' && $root.previliges.Manage_UserMgt == true">
                    Activate&nbsp;
                  </button>
                  <a href="#employes" class="btn btn-danger cancelBtn"> Cancel</a>
                </div>
              </div>
              <!--/Button section-->
          </div>
        </div>
      </div>
      <!-- /Add User Form -->
    </div>
  </div>
  <!-- /CONTENT-->
</div>
