<div class="">
    <div class="page-title">
      <div class="title_left">
          <h4><ul class="breadcrumb">
            <li> <span class="breadcrumTitle"> <a href="#dashboard">Dashboard</a> </span> </li>
            <li> <span class="breadcrumTitle"> Employees </span> </li> </ul></h4>
      </div>
      <div class="title_right">
          <span class="pull-right">
            <div class="tools"><span><a href="#/addEmployee" class="btn btn-primary page-font-size-14">
            <i class="fa fa-plus-square"></i> Add Employee</a>&nbsp;&nbsp;</span>
            </div>
          </span>
      </div>
  </div>
  <div class="clearfix"></div>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="page-title">
                  <div class="title_left">
                      <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-left"> </div>
                  </div>
                  <div class="title_right">
                      <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-right has-feedback">
                        <div class="input-group">
                          <input class="form-control" >
                             <div class="input-group-btn">
                               <button type="button" class="btn btn-default" aria-label="Help">
                                    <span class="glyphicon glyphicon-search"></span>
                             </button>
                            </div>
                        </div>
                  </div>
              </div>
                <div class="x_content">
                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                        <thead>
                            <tr class="headings">
                              <th> Employee Name</th>
                              <th> Mobile Number </th>
                              <th> Status </th>
                              <th> Channel </th>
                              <th> Designation </th>
                              <th style="text-align:center"> Action </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="even pointer" ng-repeat="emp in Employees">
                              <td>{{ emp.Name }}</td>
                              <td>{{ emp.MobileNo }}</td>
                              <td>{{ emp.Status }}</td>
                              <td>{{ emp.Channel }}</td>
                              <td>{{ emp.Designation }}</td>
                              <td style="text-align:center">
                                <div>
                                  <a href="javascript:;" ng-click="deactivateDealer(emp);" title="Deactivate User" style="margin-right: 1px;">
                                    <i class="fa fa-times-circle"></i>
                                  </a>

                                  <a href="javascript:;" ng-click="ActivateDealer(emp);" title="Activate User">
                                    <i class="fa fa-check-circle"></i>
                                  </a>
                                  <a href="#employeeDetails/{{emp.Id}}" title="Show Detail">
                                    <i class="fa fa-eye"></i>
                                  </a>
                                  <a href="#addEmployee/{{emp.Id}}" title="Edit">
                                    <i class="fa fa-edit"></i>
                                  </a>
                                  <a href="javascript:;" ng-click="deleteDealer(emp);" title="Delete">
                                    <i class="fa fa-trash-o"></i>
                                  </a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
        </div>

        <br />
        <br />
        <br />

    </div>
</div>
