  <div class="navbar nav_title" style="border: 0;">
      <a href="#/dashboard" class="site_title"><i class="fa fa-cogs"></i> <span style="font-size:33px;"><b>Portal</b></span></a>
  </div>
  <div class="clearfix"></div>
  <br />

<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="menu_section">
        <ul class="nav side-menu">
            <li><a href="#/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard </a> </li>

            <li><a href="javascript:;" data-toggle="collapse" data-target="#master"><i class="fa fa-bar-chart-o"></i> Master <span class="fa fa-chevron-down"></span></a>
                <ul id="master" class="nav child_menu collapse">
                    <li><a href="#/users">Users </a> </li>
                    <li><a href="#/roles">Roles </a> </li>
                    <li><a href="javascript:;">Product</a></li>
                    <li><a href="javascript:;">Category</a></li>
                    <li><a href="javascript:;">Region</a></li>
                    <li><a href="javascript:;">State</a></li>
                </ul>
            </li>

            <li><a href="javascript:;" data-toggle="collapse" data-target="#dealer"><i class="fa fa-industry"></i> Dealer <span class="fa fa-chevron-down"></span></a>
                <ul id="dealer" class="nav child_menu collapse">
                    <li><a href="#/dealers">Dealer Management</a></li>
                    <li><a href="javascript:;">Dealer Category Mapping </a></li>
                </ul>
            </li>

            <li><a href="javascript:;" data-toggle="collapse" data-target="#employee"><i class="fa fa-user-circle-o"></i> Employee <span class="fa fa-chevron-down"></span></a>
                <ul id="employee" class="nav child_menu collapse">
                    <li><a href="#/employes">Employee Management</a></li>
                    <li><a href="javascript:;">Employee Nomination </a></li>
                    <li><a href="javascript:;">Employee Search </a></li>
                </ul>
            </li>

            <li><a href="javascript:;" data-toggle="collapse" data-target="#training"><i class="fa fa-edit"></i> Training <span class="fa fa-chevron-down"></span></a>
                <ul id="training" class="nav child_menu collapse">
                    <li><a href="#/trainingcourses">Training Course</a></li>
                    <li><a href="#/trainingcenters">Training Center </a></li>
                    <li><a href="#/trainingschedules">Training Schedule </a></li>
                    <li><a href="javascript:;"> Employee Training Evaluation </a> </li>
                </ul>
            </li>

            <li><a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-bar-chart-o"></i> Reports
                <span class="fa fa-chevron-down"></span></a>
                <ul id="demo" class="nav child_menu collapse">
                    <li><a href="javascript:;">Employee training status report</a> </li>
                    <li><a href="javascript:;">Training Gap Report</a> </li>
                    <li><a href="javascript:;">L1 training course report</a></li>
                    <li><a href="javascript:;">L2 training course report </a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>
<!-- /sidebar menu -->

<script type="text/javascript">
    
    /** ******  left menu  *********************** **/
$(function () {
    $('#sidebar-menu li ul').slideUp();
    $('#sidebar-menu li').removeClass('active');

    $('#sidebar-menu li').click(function () {
        if ($(this).is('.active')) {
            $(this).removeClass('active');
            $('ul', this).slideUp();
            $(this).removeClass('nv');
            $(this).addClass('vn');
        } else {
            $('#sidebar-menu li ul').slideUp();
            $(this).removeClass('vn');
            $(this).addClass('nv');
            $('ul', this).slideDown();
            $('#sidebar-menu li').removeClass('active');
            $(this).addClass('active');
            $('ul', this).css('display','inline-block');
        }
    });
});

</script>
