<div class="container">
  <div class="row">
    <!-- /CONTENT-->
    <div id="content" class="col-lg-12 content-background">
      <!-- PAGE HEADER-->
      <div class="row">
        <div class="col-sm-12">
          <div class="page-header">
            <!-- BREADCRUMBS -->
            <table width="100%">
              <tr>
                <td width="95%" align="left">
                  <ul class="breadcrumb" style="margin-top:15px;">
                    <li>
                      <span class="breadcrumTitle">
                        <a href="#dashboard">Dashboard</a>
                      </span>
                    </li>
                    <li>
                      <span class="breadcrumTitle">
                        <a href="#roles" tabindex="1">Roles</a>
                      </span>
                    </li>
                    <li class="breadcrumTitle">
                      Role Details
                    </li>
                  </ul>
                </td>
              </tr>
            </table>
            <!-- /BREADCRUMBS -->
            <div class="clearfix">
              <!-- <h3 class="content-title pull-left"><b>
              {{role.name}} Details<b>
              </h3> -->
            </div>
          </div>
          <div class="page-div-separator-height"></div>
        </div>
      </div>
      <!-- /PAGE HEADER -->
      <!--Role Details show -->
      <div class="row">
        <div class="col-md-12">
          <div class="box-body-form" style="margin-left:50px;">
            <div class="row">
              <div class="col-md-4">
                <label for="name">Role</label><br>
                <lable>{{roleDetail.name}}</label>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4">
                <label for="description">Description</label><br>
                <lable>{{roleDetail.description}}</label>
              </div>
            </div><br>          
            
          </div>
        </div>
      </div>
    </div>
    <!-- /Role Details show-->
  </div>
</div>