
      <!-- PAGE HEADER-->
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <!-- BREADCRUMBS -->
            <ul class="breadcrumb">
              <li>
                <span class="breadcrumTitle">
                  <a href="#dashboard">Dashboard</a>
                </span>
              </li>
              <li>
                <span class="breadcrumTitle">
                  <a href="#trainingschedules" tabindex="1">Training Schedules</a>
                </span>
              </li>
              <li class="breadcrumTitle">
                {{headerMessage}}
              </li>
            </ul>
            <!-- /BREADCRUMBS -->
            <div class="clearfix">
              <h3 class="content-title pull-left">
                {{headerMessage}}
              </h3>
            </div>
          </div>
          <div class="page-div-separator-height"></div>
        </div>
      </div>
      <!-- /PAGE HEADER -->
      <!-- Add Training course Form -->
      <div class="row">
        <div class="col-md-12" style="margin-left: 1%;">
          <div class="box-body" style="margin-left:4%;">
              <form name="trainingcourseform">
                 <div class="row">
                  <div class="form-group col-md-5">
                    <label for="stateId" class="allLabel">State</label>
                    <select class="form-control" id="stateId" ng-model='trainingSchedule.stateId'>
                      <option value="0">Select State</option>
                      <option value="1">Maharashtra</option>
                      <option value="2">Karnataka</option>
                      <option value="3">Punjab</option>
                      <option value="4">Tamilnadu</option>
                    </select>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="form-group col-md-5">
                    <label for="trainingCenterId" class="allLabel">Training Center Name</label>
                    <select class="form-control" id="trainingCenterId" ng-model='trainingScheduleDetail.trainingCenterId'>
                      <option value="0">Select Center</option>
                      <option value="1">Pune Training Center</option>
                      <option value="2">Nashik Training Center</option>
                      <option value="3">Kolhapur Training Center</option>
                      <option value="4">Thane Training Center</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-5">
                    <label for="trainingCourseId" class="allLabel">Training Course</label>
                    <select class="form-control" id="trainingCourseId" ng-model='trainingScheduleDetail.trainingCourseId'>
                      <option value="0">Select Course</option>
                      <option value="1">MotorCycle Basic</option>
                      <option value="2">Engine Experts</option>
                      <option value="3">Spare Parts Repairing</option>
                      <option value="4">Electrical Engine experts</option>
                    </select>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="form-group col-md-5">
                    <label for="courseValidFrom" class="allLabel">Course Valid From</label><br>
                    <input type="text" class="form-control" id="courseValidFrom" readonly ng-model="trainingScheduleDetail.courseValidFrom" tabindex="7">
                  </div>
                </div> <br>

                <div class="row">
                  <div class="form-group col-md-5">
                    <label for="startDate" class="allLabel">Training Start Date</label>
                    <input type="text" class="form-control" id="startDate" placeholder="Select training start date" ng-model="trainingScheduleDetail.startDate" tabindex="
                  </div>
                  <div class="col-md-1"></div>
                  <div class="form-group col-md-5">
                    <label for="endDate" class="allLabel">Training End Date</label><br>
                    <input type="text" class="form-control" id="endDate" placeholder="Select training end date"  ng-model="trainingScheduleDetail.endDate" tabindex="7">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-5">
                    <label for="trainerName" class="allLabel">Trainer name</label>
                    <input type="text" class="form-control" id="trainerName" placeholder="Enter trainer name"  ng-model="trainingScheduleDetail.trainerName" tabindex="7">
                    </select>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="form-group col-md-5">
                    <label for="description" class="allLabel">Training Schedule Description</label><br>
                    <input type="texttrainingScheduleDetailclass="form-control" id="description" placeholder="Enter schedule brief description"  ng-model="trainingCenterDetail.description" tabindex="7">
                  </div>
                </div>
            
                <br>

                  <div class="row">
                  <div class="col-md-11">                
                    <div class="bs-example" style="border: 1px solid #ddd; padding: 10px;">
                      <label class="allLabel">Training Courses conducted</label>
                      <table style="width: 100%;">
                        <tr>
                          <td style="width: 3%;"><input type="checkbox" id="inlineCheckbox1" value="option1"></td>
                          <td style="width: 22%;">Motorcycle Basic</td>
                          <td style="width: 3%;"><input type="checkbox" id="inlineCheckbox1" value="option1"></td>
                          <td style="width: 22%;">Engine Experts</td>
                          <td style="width: 3%;"><input type="checkbox" id="inlineCheckbox1" value="option1"></td>
                          <td style="width: 22%;">Electrical Experts</td>
                          <td style="width: 3%;"><input type="checkbox" id="inlineCheckbox1" value="option1"></td>
                          <td style="width: 22%;">Diesel Electrical Basic</td>                        
                        </tr>
                        <tr>
                          <td style="width: 3%;"><input type="checkbox" id="inlineCheckbox1" value="option1"></td>
                          <td style="width: 22%;">RE Diesel Face Lift</td>
                          <td style="width: 3%;"><input type="checkbox" id="inlineCheckbox1" value="option1"></td>
                          <td style="width: 22%;">Service Advisor Training</td>
                          <td style="width: 3%;"><input type="checkbox" id="inlineCheckbox1" value="option1"></td>
                          <td style="width: 22%;">Product Specialist</td>
                          <td style="width: 3%;"><input type="checkbox" id="inlineCheckbox1" value="option1"></td>
                          <td style="width: 22%;">Spare Parts Training</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  </div>

                  <br>
                </div>
              </form>

              <!--button section-->
              <div class="row">
                <div class="form-group col-md-5">
                  <button class="btn btn-success submitBtn" ng-click="addUpdatetrainingcenter();" tabindex="6">
                    {{buttonTitle}}
                  </button> &nbsp;
                  <a href="#trainingcenters" class="btn btn-danger cancelBtn" tabindex="7"> Cancel</a>
                </div>
              </div>
              <!--/Button section-->
            <!-- <form> -->
          </div>
        </div>
      </div>
      <!-- /Add trainingcourse Form -->
 