<div class="nav_menu">
    <nav class="" role="navigation">
        <div class="nav toggle">
            <a id="menu_toggle" title="Hide Left Menubar" style="cursor:-webkit-zoom-in"><i class="fa fa-bars"></i></a>
        </div>
        <ul class="nav navbar-right top-nav iconsbar">
            <li class="dropdown headerMenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="javascript:;">
                            <div class="media">
                                <div class="media-body">
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Monday, 25th Apr, 2017</p>
                                    <p>Engine Experts training schedule at Chennai training center</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="javascript:;">
                            <div class="media">
                                <div class="media-body">
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Tomorrow</p>
                                    <p>Motorcycle basic training schedule at Pune training center</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <div class="text-center">
                          <strong><a href="javascript:;">See All Notifications <i class="fa fa-angle-right"></i></a></strong>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="dropdown headerMenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Portal Admin <b class="caret"></b></a>
                <ul class="dropdown-menu setting-dropdown">
                    <li class="setting-preview"><a href="javascript:;"><i class="fa fa-fw fa-life-ring"></i> Help</a></li>
                    <li class="setting-preview"><a href="#/changepassword/token"><i class="fa fa-fw fa-key"></i> Change Password</a></li>
                    <li class="setting-preview"><a href="#/login"><i class="fa fa-fw fa-sign-out"></i> Log Out</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>


<script type="text/javascript">

    $('.right').css('background-color', '#ededed');
    $('.footer').css('background-color', '#ededed');

    $('#menu_toggle').click(function () {
      $('.left').toggleClass('hidden');
        if($('.left').hasClass('hidden'))
        {
            var View = $('.right');
            View.removeClass();
            View.addClass('right col-md-12 col-lg-12 col-xs-12 col-sm-12');
            $('#menu_toggle').removeAttr('title');
            $('#menu_toggle').attr('title', 'Show Left Menubar');
            $('#menu_toggle').css('cursor', '-webkit-zoom-out');
        }
        else {
          var View = $('.right');
          View.removeClass();
          View.addClass('right col-md-10 col-lg-10 col-xs-10 col-sm-10');
          $('#menu_toggle').removeAttr('title');
          $('#menu_toggle').attr('title', 'Hide Left Menubar');
          $('#menu_toggle').css('cursor', '-webkit-zoom-in');
        }

        if(window.location.href.substring(window.location.href.lastIndexOf('/')+1, window.location.href.length) == 'dashboard'){
          $('#trainUntrainStatusGraphContainer').highcharts().reflow();
          $('#employeeEvaluationStatusGraphContainer').highcharts().reflow();
        }

    });

</script>
